@charset "utf-8";
/*通用样式*/
body {
    /*font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;*/
    color:#666;
    margin:0;
    padding:0;
    /*background-color:#fafafa;*/
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,input {
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
iframe{
    width:0;
    height:0;
    margin:0;
    padding:0;
}
input,select,option {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}
a{text-decoration:none; color:#1a1a1a;}
a:hover{color:#CA1E0D;text-decoration: none;}
img{ vertical-align: bottom; border:none;}
nav,#banner,section,footer{
    margin:0 auto;
}
.commonContainer{
    width:960px;
    margin:0 auto;
    overflow: hidden;
    padding:0;
}
.row{
    margin:0;
    /*padding:0;*/
}
.container{
    padding:0;
}


/*生成之后固定CSS*/
.rel_header{
    margin-bottom:32px;
}


.rel_blockDiv{
    display:inline-block;
    margin-bottom:32px;
    margin-left: 8px;
    margin-right:8px;
}
.rel_groupDiv1{
    display:inline-block;
    width:324px;
    min-height:5px;
    float:left;
}
.rel_groupDiv2{
    display:inline-block;
    width:648px;
    min-height:5px;
    float:left;
}
.rel_groupDiv3{
    display:inline-block;
    width:972px;
    min-height:5px;
    float:left;
}

.rel_section{
    width:972px;
    margin:auto;
}

.rel_section:after{
    content: '';
    display: block;
    clear: both;
}

/*————————预览需要的改动元素————————*/
.header [class*="col-"],.section [class*="col-"],.footer [class*="col-"]{
    padding:0;
}
.header:after,.section:after,.footer:after{
    content: '';
    display: block;
    clear: both;
}
.header{
    margin-bottom:30px;
}
.footer{
    margin-top:30px;
}
.header .panel,.section .panel{
    margin-bottom:32px;
}
.footer .panel{
    margin-bottom:0;
}
.sectionContainer{
    width:972px;
    margin: 0 auto;
}
.section .panel{
    border:none;
    padding:0 8px;
}

/*____________header01_3g3______________________*/
.header01_top{
    background-color: #c33;
}
.header01_navChanel>li>a{
    color:#999;
}
.header01_navChanel>li>a.header01_active{
    color:#333;
    border-bottom-color:#c33;
}
.header01_active{
    color:#333;
    border-bottom-color:#c33;
}
.header01_navChanel>li>a.header01_cur{
    color:#c33;
}
.header01_tan li a.header01_tanActive{
    color:#c33;
}

/*______________footer01_3g3______________*/
.footer01{
    background:#c33;
}




































