@charset "utf-8";
/*通用样式*/
body {
    /*font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;*/
    color:#666;
    margin:0;
    padding:0;
    /*background-color:#fafafa;*/
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,input {
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
iframe{
    width:0;
    height:0;
    margin:0;
    padding:0;
}
input,select,option {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}
a{text-decoration:none; color:#1a1a1a;}
a:hover{color:#CA1E0D;text-decoration: none;}
img{ vertical-align: bottom; border:none;}
nav,#banner,section,footer{
    margin:0 auto;
}
.commonContainer{
    width:960px;
    margin:0 auto;
    overflow: hidden;
    padding:0;
}
.row{
    margin:0;
    /*padding:0;*/
}
.container{
    padding:0;
}


/*生成之后固定CSS*/
.rel_header{
    margin-bottom:32px;
}


.rel_blockDiv{
    vertical-align: top;
    display:inline-block;
    margin-bottom:32px;
    margin-left: 8px;
    margin-right:8px;
}
.rel_groupDiv1{
    display:inline-block;
    width:324px;
    min-height:5px;
    float:left;
}
.rel_groupDiv2{
    display:inline-block;
    width:648px;
    min-height:5px;
    float:left;
}
.rel_groupDiv3{
    display:inline-block;
    width:972px;
    min-height:5px;
    float:left;
}

.rel_section{
    width:972px;
    margin:auto;
}

.rel_section:after{
    content: '';
    display: block;
    clear: both;
}

/*————————预览需要的改动元素————————*/
.header [class*="col-"],.section [class*="col-"],.footer [class*="col-"]{
    padding:0;
}
.header:after,.section:after,.footer:after{
    content: '';
    display: block;
    clear: both;
}
.header{
    margin-bottom:30px;
}
.footer{
    margin-top:30px;
}
.header .panel,.section .panel{
    margin-bottom:32px;
}
.footer .panel{
    margin-bottom:0;
}
.sectionContainer{
    width:972px;
    margin: 0 auto;
}
.section .panel{
    border:none;
    padding:0 8px;
}
.section .groupDiv{
    min-height:10px;
}

    /*____________header01_3g3______________________*/
.header01_top{
    background-color: #c33;
}
.header01_navChanel>li>a{
    color:#999;
}
.header01_navChanel>li>a.header01_active{
    color:#333;
    border-bottom-color:#c33;
}
.header01_active{
    color:#333;
    border-bottom-color:#c33;
}
.header01_navChanel>li>a.header01_cur{
    color:#c33;
}
.header01_tan li a.header01_tanActive{
    color:#c33;
}

/*______________footer01_3g3______________*/
.footer01{
    background:#c33;
}


/*_____________ClickRanking_3g1______________*/
.ClickRanking_RecommendHead{
    border-left: 3px solid #c33;
    color:#333333;
}
.ClickRanking_title{
    color:#3c3c3c;
}
.ClickRanking_list_news ul li:nth-child(1)  span:nth-child(1),.ClickRanking_list_news ul li:nth-child(2)  span:nth-child(1),.ClickRanking_list_news ul li:nth-child(3)  span:nth-child(1){
    color:#cc3333;
}
.ClickRanking_selected_a{
    color: #cc3333;
}
.ClickRanking_divBakColor{
    background-color:#ffffff;
}
.ClickRanking_list{
    background-color:#ffffff;
}

/*HotTopic*/
.HotTopic_discuss_title{
    border-left: 3px solid #c33;
    color:#333333;
}
.HotTopic_commentNum{
    color:#666666;
}
.HotTopic_list_title{
    color:#ffffff;
    text-shadow:0 1px 1px rgba(0,0,0,0.12);
}
.HotTopic_selected_a{
    background-color:#ea4335;
}
.HotTopic_more{
    color:#999999;
}
.HotTopic_whiteColor{
    background-color:#ffffff;
}
.HotTopic_list a:hover>p{background:#ea4335}

.HotTopic_list a:hover>span{color: #ea4335}


/*_______________listGroupImage_3g2________________________*/
.listGroupImage_top{
    background-color: #ffffff;
}
.listGroupImage_top_leftRed{
    border-left: 3px solid #c33;
    color: #333333;
}
.listGroupImage_list_body{
    background-color: #ffffff;
}
.listGroupImage-vertical-action{
    color: #999999;
}
.listGroupImage-vertical-action1{
    color: #999999;
}
.listGroupImage_vertical_title{
    color: #212121;
}
.listGroupImage-imageNumtext{
    color:#ffffff;
}
.listGroupImage-image_shadow{
    background:#000000;
}
.listGroupMore a{
    color:#999;
}

/*_____________________listHor_3g2____________________*/
.listHor_text-title{
    color:#333333;
}
.listHor_text-content{
    color:#666;
}
.listHor_date{
    color:#999999;
}
.listHor_source{
    color:#999999;
}
.listHor_top_title{
    border-left: 4px  solid #c33;
    color:#333333;
}
.listHor_title_li{
    color:#666666;
}
.listHor_whiteColor{
    background-color: #ffffff;
}

.listHor_content_list{
    background-color: #ffffff;
}


/*________________________Banner3______________________*/
.Banner_shadowBig{
    background:rgba(0,0,0,0.5);
}
.Banner_big_title{
    color: #ffffff;
}
.Banner_subheading{
    color: #ffffff;
}
.Banner_shadowSmall1{
    background:rgba(0,0,0,0.5);
}
.Banner_small_title{
    color:#ffffff;
}


/*______________________listVideo_3g2_____________________*/
.listVideo_whiteColor{
    background-color: #ffffff;
}
.listVideo_top_left_red{
    border-left: 3px solid #c33;
    color: #333333;
}

.listVideo_vertical_foot{
    color: #9b9b9b;
}
.listVideo_vertical_title{
    color: #212121;
}
.listVideo_vertical_action{
    color: #999999;
}
.listVideo_vertical_action1{
    color: #999999;
}
.listVideo_vido_time{
    color: #ffffff;
}
.listVideoMore a,.listVideoMore{
    color:#999;
}


/*____________________downPhone_3g1_____________________*/
.QR_head{
    color:#333333;
    border-left: 3px solid #c33;
}
.QR_title{
    background-color: #ffffff;
}
.QR_secBack {
    background-color: #ffffff;
}

/*______________________RecommendWithText_3g1________________*/
.RecommendWithText_head{
    border-left: 3px solid #c33;
    color:#333333;
}
.RecommendWithText_list{
    background-color: #ffffff;
}
.RecommendWithText_list_title{
    color:#3c3c3c;
}
.RecommendWithText_whiteColor{
    background-color: #ffffff;
}


/*_____________________RecommendWithImage_3g1____________________*/
.RecommendWithImage_head{
    border-left: 3px solid #c33;
    color:#333333;
}
.RecommendWithImage_list_dd_title{
    color:#3c3c3c;
}
.RecommendWithImage_whiteColor{
    background-color: #ffffff;
}

/*QR_CODE*/
.QR_head{
    color:#333333;
    border-left: 3px solid #c33;
}
.QR_title{
    background-color: #ffffff;
}
.QR_secBack {
    background-color: #ffffff;
}
















