@charset "utf-8";
/*通用样式*/
body {
    /*font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;*/
    color:#666;
    margin:0;
    padding:0;
    /*background-color:#fafafa;*/
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,input {
    margin:0;
    padding:0;
    border:none;
    list-style:none;
}
iframe{
    width:0;
    height:0;
    margin:0;
    padding:0;
}
input,select,option {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}
a{text-decoration:none; color:#1a1a1a;}
a:hover{color:#CA1E0D;text-decoration: none;}
img{ vertical-align: bottom; border:none;}
nav,#banner,section,footer{
    margin:0 auto;
}
.commonContainer{
    width:960px;
    margin:0 auto;
    overflow: hidden;
    padding:0;
}
.row{
    margin:0;
}
.container{
    padding:0;
}
/*保存*/
.keepCon{
    padding:10px;
}
.keep{
    background:#3280FC;
    color:#fff;
    font-size: 14px;
    padding:8px;
    text-align: center;
    cursor: pointer;
}
.partAll{
    padding:0;
}
.secPart,.headPart{
    color:#000;
    cursor: pointer;
}
.secPart{
    display: block;
    padding:10px 15px;
    border-bottom: 1px solid #eee;
}
.partAll .panel-group .panel-body{
    padding:0;
}

/*form*/
.control-label{
    text-align: right;
}
.control-group{
    margin:10px 0;
}
.form-input{
    width:100%;
}
.form-select{
    width:100%;
    height:26px;
    line-height:26px;
}
/*拖拽*/
/*.type .sortableList >div {*/
    /*cursor: move;*/
    /*border:1px solid #000;*/
/*}*/
/*.type .sortableList >div.dragging {*/
    /*visibility: visible;*/
    /*opacity: .3;*/
/*}*/

/*画布区域*/
.indexAll>.row>div{
    border:1px solid #000;
    min-height:500px;
}
.partAll{
    padding:0;
}
.appendNot{
    border:1px solid blue;
}
.appendCur{
    border:1px solid red;
}
.controls select.notNull,.controls input.notNull{
    border:1px solid blue;
}
.notNullColor{
    color:red;
}
/*form，右边属性*/
.control-label{
    text-align: right;
}
.control-group{
    margin:10px 0;
}
.form-input{
    width:100%;
    border: 1px solid #000;
}
.form-select{
    width:100%;
    height:26px;
    line-height:26px;
}
.controls select{
    border: 1px solid #000;
}
/*delete*/
.deletePart{
    cursor: pointer;
}

/*删除区块btn*/
.deleteBlockDiv{
    text-align: center;
    margin:30px auto 10px;
}
.deleteBlockBtn{
}

/**********************组件---header01************************/
.header01{
    width: 100%;
}
/*top--红*/
.header01_top{
    height:40px;
    background-color: #c33;
}
/*logo*/
.header01_logo{
    text-align:center;
}
.header01_logo>img{
    width:256px;
    margin:20px 0;
}
/*导航*/
.header01_nav{
    background-color: #fafafa;
    height:50px;
}
.header01_navChanel{
    text-align: center;
}
.header01_navChanel:after{
    display: table;
    content: '';
    clear: both;
}
.header01_navChanel>li{
    float: left;
    /*position:relative;*/
}
.header01_navChanel>li>a{
    display: inline-block;
    height:50px;
    border-bottom:2px solid transparent;
    line-height: 50px;
    width:116px;
    font-size:18px;
    color:#999;
    text-decoration: none;
    /*position: absolute;*/
    /*z-index:11;*/
}
.header01_navChanel>li>a.header01_active{
    color:#333;
    border-bottom-color:#c33;
}
.header01_active{
    color:#333;
    border-bottom-color:#c33;
}
.header01_navChanel>li>a.header01_cur{
    color:#c33;
}
/*二级菜单*/
.header01_tan{
    display: none;
    width: 100%;
    min-height: 20px;
    text-align: center;
    margin-top:-3px;
    margin-bottom:5px;
    background:#ffffff;
    border:1px solid #fafafa;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.24);
    position: relative;
    z-index:10;
}
/*箭头*/
.header01_arrow{
    position:absolute;
    left:0;
    width:95%;
    text-align: center;
    height:7px;
}
.header01_arrow img{
    position: absolute;
    width:8px;
    top:-7px;
}
/*li*/
.header01_tan li a{
    color:#9b9b9b;
    font-size: 14px;
    display: inline-block;
    line-height: 35px;
    text-decoration: none;
}
.header01_tan li a.header01_tanActive{
    color:#c33;
}

/*******************************************************/
.appendStr{
    /*position:absolute;*/
}


.adv_3g1_all{
    position: relative;
}
.adv_3g1_mask{
    position: absolute;
    bottom:0;
    right:0;
    background:rgba(0,0,0,.5);
    width:40px;
    height:20px;
    color:#fff;
    text-align: center;
    font-size: 12px;
    line-height:20px;
}
.adv_3g1_all,.adv_3g1_all img{
    width:308px;
    height:148px;
}








